<html>
<head>
    <meta charset="UTF-8"/>
    <title>月账单 </title>
    <style type="text/css">
        * {
            font-family: "SimSun";
        }

        body {
            font-size: 12px;
        }

        p.title {
            text-align: center;
            font-size: 2.4em;
            font-weight: bold;
        }

        p.subtitle {
            text-align: center;
            font-size: 1.8em;
            font-weight: bold;
        }

        .page-break {
            page-break-after: always;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            -fs-table-paginate: paginate;
            border-spacing: 0;
            table-layout: fixed;
        }

        table.details {
            table-layout: auto;
        }

        table td, table th {
            -fs-keep-with-inline: keep;
            font-weight: normal;
            line-height: 15px;
            border: 0;
            border-bottom: .1px solid #000;
        }

        table td:first-child, table th:first-child {
            padding-left: 2px;
        }

        table thead tr td, table thead tr th {
            background: #acf;
            text-align: left;
        }

        table thead tr:nth-child(2) td, table thead tr:nth-child(2) th {
            background: #ccc;
        }

        td.ta-l, th.ta-l {
            text-align: left;
        }

        td.ta-c, th.ta-c {
            text-align: center;
        }

        td.ta-r, th.ta-r {
            text-align: right;
        }

        td:last-child.ta-r, th:last-child.ta-r {
            padding-right: 2px;
        }

        table.page-header {
            width: 100%;
            color: #888;
        }

        table.page-header td {
            border: 0;
        }

        table.recp-info {
            width: auto;
            font-size: inherit;
            word-break: keep-all;
            white-space: nowrap;
        }

        table.recp-info td {
            border: 0;
        }

        li {
            margin-bottom: 1em;
        }

        /*div.page-header {*/
        /*padding: 10px 0;*/
        /*display: block;*/
        /*position: running(header);*/
        /*color: #888;*/
        /*}*/

        /*div.page-header td {*/
        /*border: 0;*/
        /*}*/

        /*div.page-header td:last-child {*/
        /*text-align: right;*/
        /*}*/

        /*@page {*/
        /*margin: 50px;*/
        /*@top-center {*/
        /*content: element(header)*/
        /*}*/
        /*}*/


    </style>
</head>
<body>
##<div class="page-header">
##    <table class="page-header">
##        <tr>
##            <td>${config.payeeName}</td>
##            <td>账单编号：${config.billNo}</td>
##        </tr>
##    </table>
##</div>

<table class="page-header">
    <tr>
        <td class="ta-l">客户编号：${customerCode}</td>
        <td class="ta-r">账单编号：${invoiceName}</td>
    ##        <td class="ta-r">账单日期：$config.billDate</td>
    </tr>
</table>

<br/><br/><br/>

<table class="recp-info">
    <tr>
        <td>客户名称：</td>
        <td>${customerName}</td>
    </tr>
    <tr>
        <td>联系人：</td>
        <td>${customerContact}</td>
    </tr>
</table>


<p class="title">${customerName}通讯服务账单</p>

<p class="subtitle">账单总览</p>


<br/><br/><br/>
计费周期：${startTime} 至 ${endTime}
<br/><br/><br/>



<br/><br/><br/>


<table class='MsoNormalTable' border='0' cellspacing='0' cellpadding='0' width='624'
       style='width:467.8pt;margin-left:-.4pt;border-collapse:collapse'>
    <tr style='height:22.5pt'>
        <td style='border:inset black 1.0pt;background:#D58D45;padding:0cm 0cm 0cm 0cm;height:22.5pt'>
            <p class='MsoNormal' align='center' style='text-align:center'><b><span style='font-size:11.5pt'>产品名称<span
                    ></span></span></b></p>
        </td>
        <td width='121'
            style='width:90.9pt;border:inset black 1.0pt;border-left:none;background:#D58D45;padding:0cm 0cm 0cm 0cm;height:22.5pt'>
            <p class='MsoNormal' align='center' style='text-align:center'><b><span style='font-size:11.5pt'>计费开始时间<span
                    ></span></span></b></p>
        </td>
        <td width='132'
            style='width:99.2pt;border:inset black 1.0pt;border-left:none;background:#D58D45;padding:0cm 0cm 0cm 0cm;height:22.5pt'>
            <p class='MsoNormal' align='center' style='text-align:center'><b><span style='font-size:11.5pt'>计费结束时间<span
                    ></span></span></b></p>
        </td>
        <td width='123'
            style='width:92.15pt;border:inset black 1.0pt;border-left:none;background:#D58D45;padding:0cm 0cm 0cm 0cm;height:22.5pt'>
            <p class='MsoNormal' align='center' style='text-align:center'><b><span style='font-size:11.5pt'>应付金额<span
                    ></span></span></b></p>
        </td>
        <td width='76'
            style='width:56.75pt;border:inset black 1.0pt;border-left:none;background:#D58D45;padding:0cm 0cm 0cm 0cm;height:22.5pt'>
            <p class='MsoNormal' align='center' style='text-align:center'><b><span style='font-size:11.5pt'>已预付金额<span
                    ></span></span></b></p>
        </td>
        <td width='76'
            style='width:2.0cm;border:inset black 1.0pt;border-left:none;background:#D58D45;padding:0cm 0cm 0cm 0cm;height:22.5pt'>
            <p class='MsoNormal' align='center' style='text-align:center'><b><span style='font-size:11.5pt'>待付款总金额<span
                    ></span></span></b></p>
        </td>
    </tr>
    #foreach( $row in $rows)

    <tr style='height:22.5pt'>

        <td style='border:inset black 1.0pt;border-top:none;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span  style='font-size:11.5pt'>${row.product}</span></p>
        </td>
        <td width='121'
            style='width:90.9pt;border:inset black 1.0pt;border-left:none;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span  style='font-size:11.5pt'>${row.effectiveStartDate}</span></p>
        </td>
        <td width='132'
            style='width:99.2pt;border:inset black 1.0pt;border-left:none;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span  style='font-size:11.5pt'>${row.effectiveEndDate}</span></p>
        </td>
        <td width='123'
            style='width:92.15pt;border:inset black 1.0pt;border-left:none;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span  style='font-size:11.5pt'>${row.firstInstallment}</span></p>
        </td>
        <td width='76'
            style='width:56.75pt;border:inset black 1.0pt;border-left:none;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span  style='font-size:11.5pt'>0</span></p>
        </td>
        <td width='76'
            style='width:2.0cm;border:inset black 1.0pt;border-left:none;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span  style='font-size:11.5pt'>${row.firstInstallment}</span></p>
        </td>
    </tr>


    #end
    <tr style='height:22.5pt'>
        <td style='border:inset black 1.0pt;border-top:none;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span style='font-size:11.5pt'>合计<span ></span></span></p>
        </td>
        <td width='121'
            style='width:90.9pt;border-top:none;border-left:none;border-bottom:inset black 1.0pt;border-right:inset black 1.0pt;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'></td>
        <td width='132'
            style='width:99.2pt;border-top:none;border-left:none;border-bottom:inset black 1.0pt;border-right:inset black 1.0pt;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'></td>
        <td width='123'
            style='width:92.15pt;border-top:none;border-left:none;border-bottom:inset black 1.0pt;border-right:inset black 1.0pt;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span  style='font-size:11.5pt'>${summary.firstInstallment}</span></p>
        </td>
        <td width='76'
            style='width:56.75pt;border-top:none;border-left:none;border-bottom:inset black 1.0pt;border-right:inset black 1.0pt;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span  style='font-size:11.5pt'>0</span></p>
        </td>
        <td width='76'
            style='width:2.0cm;border-top:none;border-left:none;border-bottom:inset black 1.0pt;border-right:inset black 1.0pt;padding:0cm 12.0pt 0cm 12.0pt;height:22.5pt'>
            <p class='MsoNormal'><span  style='font-size:11.5pt'>${summary.firstInstallment}</span></p>
        </td>
    </tr>
</table>

注：
<br/><br/>
1、上述款项单位均为人民币“元”；
<br/>
2、其他费用指：配置费用、其他增值费中的一项或几项，具体项目详见“账单明细”及“详单”；
<br/><br/><br/>
如贵公司对上述内容存在异议，请于收到账单后3个工作日内书面提出，否则视为认同上述内容。
<br/>
请贵公司于上述内容确认无误后2个工作日内支付相应款项。
<br/><br/><br/><br/><br/><br/>

<table class="recp-info">
    <tr>
        <td>收款方名：</td>
        <td>广州科天视畅信息科技有限公司</td>
    </tr>
    <tr>
        <td>开户银行：</td>
        <td>中国建设银行广州凯得广场支行</td>
    </tr>
    <tr>
        <td>银行账号：</td>
        <td>4400 1101 9040 5250 0295</td>
    </tr>
    <tr>
        <td>地　　址：</td>
        <td>广州市科学城科学大道187号 科学城商业广场A2栋8楼</td>
    </tr>
</table>
</body>
</html>