<table class="page-header">
    <tr>
        <td class="ta-l">客户编号：$config.payerNo</td>
        <td class="ta-r">账单编号：$config.billNo</td>
    ##        <td class="ta-r">账单日期：$config.billDate</td>
    </tr>
</table>

<br/><br/><br/>

<table class="recp-info">
    <tr>
        <td>客户名称：</td>
        <td>${config.payerName}</td>
    </tr>
    <tr>
        <td>联系人：</td>
        <td>${config.payerContactName}</td>
    </tr>
</table>


<p class="title">${config.payeeName}通讯服务账单</p>

<p class="subtitle">账单总览</p>


<br/><br/><br/>
计费周期：${config.startTime} 至 ${config.endTime}
<br/><br/><br/>

<table>
    <thead>
    <tr>
        <td>费用类型</td>
        <td class="ta-r">应付金额</td>
        <td class="ta-r">预付款余额（元）</td>
        <td class="ta-r">预存款余额（元）</td>
        <td class="ta-r">待付款总金额（元）</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>电话会议</td>
        <td class="ta-r">$numberTool.format('#,##0.00', ${config.pstnFee})</td>
        <td class="ta-r" rowspan="3">$numberTool.format('#,##0.00', ${config.prepaid})</td>
        <td class="ta-r" rowspan="3">$numberTool.format('#,##0.00', ${config.deposit})</td>
        <td class="ta-r" rowspan="3">$numberTool.format('#,##0.00', ${config.getTotalUnpaidFee()})</td>
    </tr>
    <tr>
        <td>数据会议</td>
        <td class="ta-r">$numberTool.format('#,##0.00', $config.getTotalProductFee())</td>
    ## skip
    ## skip
    ## skip
    </tr>
    <tr>
        <td>存储费用</td>
        <td class="ta-r">$numberTool.format('#,##0.00', $config.getTotalStorageFee())</td>
    </tr>
    </tbody>
</table>

<br/><br/><br/>

注：
<br/><br/>
1、上述款项单位均为人民币“元”；
<br/>
2、其他费用指：存储费用、溢出费用、配置费用、其他增值费中的一项或几项，具体项目详见“账单明细”及“详单”；
<br/><br/><br/>
如贵公司对上述内容存在异议，请于收到账单后3个工作日内书面提出，否则视为认同上述内容。
<br/>
请贵公司于上述内容确认无误后2个工作日内支付相应款项。
<br/><br/><br/><br/><br/><br/>

<table class="recp-info">
    <tr>
        <td>收款方名：</td>
        <td>${config.payeeName}</td>
    </tr>
    <tr>
        <td>开户银行：</td>
        <td>${config.payeeBankName}</td>
    </tr>
    <tr>
        <td>银行账号：</td>
        <td>${config.payeeBankNo}</td>
    </tr>
    <tr>
        <td>地　　址：</td>
        <td>${config.payeeAddress}</td>
    </tr>
</table>

<p class="page-break"></p>